Support SCRAM-SHA-1, SCRAM-SHA-256 and SCRAM-SHA-512 🔐

First of all: thank you _so much_ for your work! :pray: 

It would be nice if those authentication methods would be [supported](https://github.com/scram-xmpp/info/issues/1):

* [`SCRAM` :closed_lock_with_key:](https://en.wikipedia.org/wiki/Salted_Challenge_Response_Authentication_Mechanism) 
  * [x] [`SCRAM-SHA-1`](https://tools.ietf.org/html/rfc5802)
  * [x] [`SCRAM-SHA-256`](https://tools.ietf.org/html/rfc7677)
  * [x] [`SCRAM-SHA-512`](https://xmpp.org/extensions/inbox/hash-recommendations.html#recommendations)
* [x] [`DIGEST-MD5`](https://wiki.xmpp.org/web/SASL_and_DIGEST-MD5) (it's considered [insecure and therefore obsolete](https://tools.ietf.org/html/rfc6331) nowadays but AFAIK it is still the most common mechanism)

<sub><sup>See also [XMPP wiki](https://wiki.xmpp.org/web/SASL_and_SCRAM-SHA-1)</sup></sub>

**PS:** Just to be sure: the strongest variants should obviously be preferred because SHA-1 (see [RFC 4270](https://tools.ietf.org/html/rfc4270) and [RFC 6194](https://tools.ietf.org/html/rfc6194)) and MD5 ([RFC 6331](https://tools.ietf.org/html/rfc6331)) are considered obsolete

**PPS:** I'm not sure whether it's worth anything but Kafka and MongoDB also use `SCRAM` for authentication. Therefore the [Ruby Kafka client](https://github.com/zendesk/ruby-kafka/blob/master/lib/kafka/sasl/scram.rb) and the [Ruby MongoDB driver](https://github.com/mongodb/mongo-ruby-driver/blob/master/lib/mongo/auth/scram/conversation.rb) could be used as an inspiration.

Thanks @alexanderadam. I did the development and testing against ejabberd and that didn't support such SASL methods. I'll try to put some effort into looking into the specs and find some servers which support this mechanism for testing purposes.

Maybe it would make sense to add a [`docker-compose.yml`](https://docs.docker.com/compose/) and/or `Dockerfile` for development?

There are various example available already (i.e. [for ejabberd](https://github.com/search?q=%22image%3A+ejabberd%2Fecs%22+filename%3Adocker-compose.yml+language%3AYAML&type=Code) or [prosody](https://github.com/search?l=&q=%22image%3A+prosody%2Fprosody%22+filename%3Adocker-compose.yml+language%3AYAML&type=Code)). This way you could easily spin up a server in development and configure it like you want ([i.e. ejabberd for `SCRAM`](https://docs.ejabberd.im/admin/configuration/#internal) or [prosody for `SCRAM`](https://prosody.im/doc/plain_or_hashed)).

Maybe it would even make sense to test the same image(s) on a CI system that's free for Free Software (i.e. [Travis](https://docs.travis-ci.com/user/docker/) or [CircleCI](https://circleci.com/docs/2.0/circleci-images/)).

This way you (and of course also other developers) could just spin up a local server with `docker-compose up` and would be able to develop against a proper XMPP server.

Or [record XMPP requests with VCR.cr and use the records](https://github.com/spoved/vcr.cr) in specs (this would be much faster of course.

And I don't know if you know it already but there's [a wonderful spec library for Crystal called Spectator](https://gitlab.com/arctic-fox/spectator).  It's maintainer is currently [adding stubbing and mocking support](https://gitlab.com/arctic-fox/spectator/merge_requests/16) to it which might come handy, too (I mention this because it's obviously easier to switch a test suite in early staged of a project).

**PS:** I see that the major servers have support for `SCRAM-SHA-1` but @Neustradamus do you know which servers support `SCRAM-SHA-256` or `SCRAM-SHA-512`?

**PPS:** @naqvis I added `DIGEST-MD5` to the ticket. What do you think about it? Because on the one hand [it's officially obsolete](https://tools.ietf.org/html/rfc6331) but on the other hand it's still the most common mechanism



**EDIT:** It seems that at least these servers are able to do `SCRAM-SHA-256` and `SCRAM-SHA-512`:
* [metronome](https://metronome.im/) ([relevant changelog](https://metronome.im/changelogs/3_10))
* [tigase](https://github.com/tigase/tigase-server) ([config](https://docs.tigase.net/tigase-server/master-snapshot/Administration_Guide/html_chunk/_sasl_mechanisms.html) - their official Docker image [should follow in the next weeks](https://github.com/tigase/tigase-server/issues/2))
* [jackal](https://github.com/ortuman/jackal) ([reference](https://github.com/ortuman/jackal/blob/d05221c9b54e39a40df80f7868708f8b802798fd/auth/scram.go#L39) - [Docker image](https://hub.docker.com/r/ortuman/jackal))

- Metronome IM: Changelog for 3.11.x: https://metronome.im/changelogs/3_11 + 3.12.x: https://metronome.im/changelogs/3_12 + https://github.com/maranda/metronome/
- Tigase has 8.0.x/8.1.x branches: https://docs.tigase.net/tigase-server/master-snapshot/Administration_Guide/html_chunk/_sasl_mechanisms.html + https://docs.tigase.net/tigase-server/stable-snapshot/Administration_Guide/html_chunk/_sasl_mechanisms.html + https://github.com/tigase/

I'll be adding `DIGEST-MD5` soon, while leaving other `SCRAM` methods for later.

@naqvis: Why this old DIGEST-MD5 and not more secure SCRAM?

@Neustradamus `DIGEST-MD5` is still widely used and implemented by majority of XMPP servers. Will be adding other secure `SCRAM` Auth mechanisms on later basis.

@naqvis: Yes of course but it must not privilegied, SCRAM is better...

Please look:
- RFC6331: Moving DIGEST-MD5 to Historic: https://tools.ietf.org/html/rfc6331
- https://www.google.com/search?q=DIGEST-MD5+vs+SCRAM
- https://www.google.com/search?q=DIGEST-MD5+vs+SCRAM-SHA-1

Will be updating repo sometime this week with below listed SASL mechansims

1. `SCRAM-SHA-512`
2. `SCRAM-SHA-256`
3. `SCRAM-SHA-1`
4. `DIGEST-MD5`
5. `PLAIN` - **Already implemented**
6. `Anonymous`

**DON'T** have any plan to implement and support ***external channel bindings*** or `-PLUS` mechanisms.

Will comment, once updates are committed to repo.

Updated repo with latest changes to support requested SASL Auth mechanisms.

![awesome](https://user-images.githubusercontent.com/372620/64882125-c14e9a00-d65c-11e9-95a7-0cf0182911de.gif)

You are _unbelievable_. I can't test this but I will close this for now (we could open this later on anyway if something is missing I guess).

Again: thank you so much! :pray: 

@naqvis: Nice job!

Thanks @Neustradamus 

@naqvis, @alexanderadam: What is missing/needed for -PLUS variant?

Have you found problems with SCRAM-SHA-512 with:
- a Metronome IM server: lightwitch.org
- a Jackal XMPP server: jackal.im

@Neustradamus I guess nothing is needed if you are gonna provide a PR. :+1: 

I'm sure **naqvis** would be happy to accept it.

Warmly welcome PR 

@naqvis, @alexanderadam: OK one day maybe...

Can you test SCRAM-SHA-256 and SCRAM-SHA-512 with:
- a Metronome IM server: lightwitch.org
- a Jackal XMPP server: jackal.im

-> Observations?

@naqvis, @alexanderadam: After 1/256/512, can you add 224/384 too and SCRAM-SHA3-512?
- SCRAM-SHA-512(-PLUS): https://tools.ietf.org/html/draft-melnikov-scram-sha-512
- SCRAM-SHA3-512(-PLUS): https://tools.ietf.org/html/draft-melnikov-scram-sha3-512

Dear all, @naqvis, @alexanderadam,

I wish you a Happy New Year 2024!

Improvements can be done?
- https://github.com/naqvis/cr-xmpp/issues/7
- https://github.com/naqvis/cr-xmpp/issues/9